docs/manual/style/manualpage.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!ENTITY % common SYSTEM "common.dtd">
%common;

<!-- <manualpage> is the root element -->
<!ELEMENT manualpage (title, summary?, seealso*, section*)>

<!-- the lists of related modules and/or related directives -->
<!ELEMENT related (modulelist | directivelist)+>

<!-- list of related directives -->
<!ELEMENT directivelist (directive)+>